---
import BaseLayout from '../layouts/BaseLayout.astro';
import ArticleList from "../components/article/ArticleList.astro";
const pageTitle = "Blog";

const allPosts = Object.values(import.meta.glob('./articles/*.{md,mdx}', { eager: true }));
---
<BaseLayout pageTitle={pageTitle}>
    <section class="page-section">
        <div>
            <h1>Blog</h1>
            <p>Bienvenue sur mon blog ! Voici les derniers articles :</p>
            <ArticleList allPosts={allPosts} />
        </div>
    </section>
</BaseLayout>

