---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectList from '../components/project/ProjectList.astro';

const pageTitle = 'Projets';
const allProjects = Object.values(import.meta.glob('./projects/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
    <section class="page-section">
        <h1>Projets</h1>
        <p>Voici une sélection de projets et les compétences utilisées pour chacun :</p>
        <ProjectList allProjects={allProjects} />
    </section>
</BaseLayout>
