---
import Navigation from "./Navigation.astro";
import Links from "./Links.astro";
---

<footer>
    <nav>
        <Navigation />
    </nav>
    <nav>
        <div class="icon-container">
            <Links />
        </div>
    </nav>
</footer>

<style> 
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        border-top: 1px solid var(--border-color);
        margin-top: 2rem;
    }

    footer nav {
        margin: 0.5rem 0;
    }

    footer div {
        display: flex;
        gap: 1rem;
    }

    footer a {
        text-decoration: none;
        color: var(--text-color);
    }

    footer a:hover {
        color: var(--primary-color);
    }
</style>