---
import Image from 'astro/components/Image.astro';
import Navigation from './Navigation.astro';
---
<header class="debug-outline">
    <div>
        <Image src="/pfp.png" alt="Logo" width="28" height="28" />
        <a href="/">
            Matteo Rauch
        </a>
    </div>
    <nav>
        <Navigation />
    </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    header a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: bold;
    }

    header div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    header img {
        border-radius: 25%;
        width: 32px;
        height: 32px;
    }

    header img:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease;
    }

    nav {
        display: flex;
        gap: 1rem;
    }
</style>
