---
import Navigation from './Navigation.astro';
---
<header class="navbar bg-gray shadow-sm px-6 py-4">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost normal-case text-2xl font-semibold">
            Matteo Rauch
        </a>
    </div>
    <nav class="flex-none space-x-6">
        <Navigation />
    </nav>
</header>
