---
import Navigation from './Navigation.astro';
---
<header>
    <div>
        <a href="/">
            Matteo Rauch
        </a>
    </div>
    <nav>
        <Navigation />
    </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    header a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: bold;
    }

    nav {
        display: flex;
        gap: 1rem;
    }
</style>
