---

---

<a href="/">
    Home
</a>
<a href="/projects/">
    Projets
</a>
<a href="/article/">
    Articles
</a>
<a href="/contact/">
    Contact
</a>

<style>
    a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1rem;
    }

    a:hover {
        color: var(--primary-color);
    }

    a:focus {
        outline: 2px solid var(--primary-color);
        outline-offset: 2px;
    }
</style>

