---
import Links from './Links.astro';
---

<section>
    <div>
        <div>
            <h1>Bienvenue, je suis <span class="name-gradient">Matteo Rauch</span>!</h1>
            <p>
                Développeur passionné! Explorez mes projets et compétences.
            </p>
        </div>
        <div class="icon-container">
            <Links />
        </div>
    </div>
</section>

<style>
    section {
        margin: 2rem auto;
        padding: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.6;
        text-align: center;
    }

    img {
        max-width: 100%;
        border-radius: 8px;
    }

</style>


